@import '../../scss/utilities/core';

.post-detail {
	padding-left: $content-padding-unit;
	padding-right: $content-padding-unit;

	&__content {
		margin-top: 1rem;
		margin-bottom: 5rem;
	}

	&__votecell {
		margin-top: -0.5rem;

		&__up {
			@include voting-shape(32px, bottom);
		}

		&__down {
			@include voting-shape(32px, top);
		}

		&__favorite {
			color: $voting-color;

			&.active {
				color: $voting-active-color;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	&__postcell {
		&__description {
			display: flex;
			@include divider-border;

			&__people {
				flex: 1;
			}
		}

		&__owner {
			display: flex;

			a {
				display: block;
				font-size: 0.85rem;
				padding: 0.25rem 0.5rem;
			}
		}
	}

	&__comments {
	}
}
