/* =====================
   COMMON COLORS
   ===================== */
$black-color: #242729;
$light-black-color: #666666;
$gray-color: #535a60;
$light-gray-color: #e4e6e8;

/* =====================
   TOP BAR
   ===================== */
$top-bar-z-index: 1000;
$top-bar-height: 50px;
$top-bar-logo-width: 165px;
$top-bar-search-bar-channel-color: #d6d9dc;
$top-bar-search-bar-textbox-bg-color: #3b4045;
$top-bar-search-bar-item-focus-color: #adb3b9;

/* =====================
   MAIN
   ===================== */
$main-width: 1264px;
$content-padding-unit: 1.5rem;
$channel-logo-border-radius: 10%;

/* =====================
   LEFT SIDEBAR
   ===================== */
$left-sidebar-width: 164px;

/* =====================
   QUESTIONS
   ===================== */
$questions-filter-option-border-color: #adb3b9;
$questions-filter-option-hover-color: #535960;
$questions-filter-option-hover-bg-color: #b7c0c80d;
$questions-filter-option-active-color: #3b4045;
$questions-filter-option-active-bg-color: #aec0d140;
$questions-posts-quest-summary-stats-brief-title-color: #005999;
