.main {
  max-width: $main-width;

  /* =====================
   LEFT SIDEBAR
   ===================== */
  .left-sidebar {
    width: $left-sidebar-width;
    padding-top: $content-padding-unit;

    &__channel {
      &__thumbnail {
        @include channel-logo-thumb(96px, 96px);

        img {
          @include channel-logo-img;
        }
      }

      &__name {
        color: $black-color;
        font-size: 1.05rem;
      }
    }

    &__private-team {
      font-size: 0.8rem;
      @include divider-border;
    }

    &__links {
      padding: 1.5rem 0;
      @include divider-border;

      &__item {
        a {
          display: block;
          color: $gray-color;
          padding: 0.6rem;
          font-size: 0.8rem;

          &:hover {
            color: $black-color;
          }
        }

        &--active a {
          color: $black-color;
          background-color: $light-gray-color;
          font-weight: bold;
          border-right: 3px solid $light-black;
        }
      }
    }
  }

  /* =====================
   CONTENT
   ===================== */
  .content {
    padding: $content-padding-unit 0;
    margin-left: $left-sidebar-width;
    border-left: 1px solid #d6d9dc;
  }
}
