@import '../../../scss/utilities/core';

.questions-headline {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: $content-padding-unit;

	&__avatar {
		@include channel-logo-thumb(32px, 32px);

		img {
			@include channel-logo-img;
		}
	}
}
