.avatar-sm {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #fff;
  text-align: center;
  background-color: gray;
  border-radius: 10%;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
