@import '../../scss/utilities/core';

.votecell {
	&__up {
		@include voting-shape(32px, top);
	}

	&__down {
		@include voting-shape(32px, bottom);
	}

	&__icon {
		color: $voting-color;

		&--favorited {
			color: $favorite-active-color;
		}

		&--accepted {
			color: $accept-active-color;
		}

		&:hover {
			cursor: pointer;
		}
	}
}
